simpleApp/.aws-sam/
simpleApp/node_modules/
simpleApp/package-lock.json
package-lock.json
.vscode/
.history
simpleApp/.aws-sam/build/
simpleApp/samconfig.toml
testingApp/samconfig.toml
integration-test-lambda/samconfig.toml
